html {
            scroll-behavior: smooth;
        }

        *{
            font-family: Raleway;
        }

        body {
            margin: 0;
            padding-top: 60px; 
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 150px;
            background-color: #08574f;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }

        
        .title{
            color : white;
            font-size: 15px;
            width: 800px;
            display: inline-flex;
            flex-direction: row;
        }

        #subtitle{
            padding-top: 20px;
            padding-left: 5px;
            font-size:bold;
        }

        header a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }

        header a:hover {
            color: #4cb934;
        }

        section{
            padding-top: 150px;
            width: 100%;
            height: 80vh;
            background-color: #caf6cc;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
        }
        
        form {
            margin-left: 50px;
            margin-top: 50px;
        }

        input{
            width: 700px;
            height: 30px;
        }

        